{% extends 'base_layout.html' %}

{% block content %}
{% load static from staticfiles %}
<br>
<h1 class="springy-text">About Me</h1>
<div class="container">
<img src="{% static 'pro.jpg' %}" width="180" height="170" align="left">
<p>Amit Kumar of The Outworker is a digital marketing consultant, creative director and copywriter. Amit is the author of SEO Simplified for Short Attention Spans, has a Podcast: Content Matters and has recently published the free resource, Content Marketing Roadmap. You can find him on Twitter and LinkedIn. </p>
</div>
<br>
<br>
<p>this website is still under construction so please be patient!</p>
<br>
<p>Still more to come</p>
{% endblock %} 